*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  list-style: none;
  outline: none;
  color: var(--color-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 5px;

  @media screen and (min-width: 1080px) {
    font-size: 10px;
  }

  @media screen and (min-width: 2160px) {
    font-size: 12px;
  }

  @media screen and (min-width: 3240px) {
    font-size: 18px;
  }

  @media screen and (min-width: 4480px) {
    font-size: 24px;
  }
}

html {
  scroll-behavior: smooth;
}