.button {
  display: block;
  width: fit-content;
  padding: 2rem;
  color: var(--color-darkest);
  background-color: var(--color-accent);
  font-size: 3rem;
  font-weight: bold;
  border-right: double 8px var(--color-darkest);
  transition: transform ease 0.2s, box-shadow ease 0.2s;
  box-shadow: var(--shadow);
  cursor: pointer;

  &:hover {
    transform: translateY(-4px);
    box-shadow: var(--shadow-up);
  }
}
