.button {
  display: block;
  width: 310px;
  width: fit-content;
  background-color: var(--color-accent);
  font-size: 3rem;
  font-weight: bold;
  border-right: double 8px var(--color-dark);
  padding: 1.5rem;
  transition:
    transform ease 0.2s;
  box-shadow: var(--shadow);

  &:hover {
    transform: translateY(-4px);
    box-shadow: var(--shadow-up);
  }
}