.footer {
  background-color: var(--color-darkest);
  min-height: 20rem;
  padding: 2rem;

  &__heading {
    font-size: 5rem;
    color: var(--color-light);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
  }

  &__item {
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem;
    margin-right: 3rem;
    color: var(--color-light);
    position: relative;
    z-index: 1;

    @media screen and (min-width: 540px) {
      font-size: 2.5rem;
    }

    &::after {
      content: "";
      position: absolute;
      width: 3rem;
      height: 3rem;
      left: -1rem;
      z-index: -1;
      background-color: var(--color-accent);
    }
  }

  &__link {
    color: var(--color-accent);
  }


  &__copyright {
    display: inline-block;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 3px;
    color: var(--color-accent);
    background-color: var(--color-dark);
    border-left: 4px solid var(--color-accent);
  }
}