.hero {
  height: 95vh;
  background-image: url("./assets/images/pattern.png");
  background-attachment: fixed;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  &__pane {
    padding-left: 4rem;
    text-align: left;
    transform: translateY(-5%);
  }

  &__title {
    font-size: 7rem;
    font-weight: bold;
    color: var(--color-light);
  }

  &__subtitle {
    margin-bottom: 6rem;
    font-size: 4rem;
    font-weight: normal;
    color: var(--color-light);
    transform: translateX(5%);

    @media screen and (min-width: 1080px) {
      font-size: 5rem;
    }
  }
}