.projects {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__list {
        z-index: 5;
    }

    &__heading {
        font-size: 5rem;
        color: var(--color-dark)
    }

    &__item {
        background-color: var(--color-darkest);
        padding: 2rem;
        margin: 2rem 0;
        box-shadow: var(--shadow);
    }

    &__title {
        color: var(--color-light);
        font-size: 5rem;
    }

    &__link {
        color: var(--color-accent);
        font-size: 3rem;
        font-weight: normal;
        margin-right: 3rem;
        cursor: pointer;
    }
}