.section {
  height: 60vh;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: 540px) {
    height: 70vh;
  }

  @media screen and (min-width: 1080px) {
    height: 85vh;
  }

  &::before {
    position: absolute;
    font-size: 10rem;
    font-weight: 700;
    top: 3rem;
    right: 3rem;
    z-index: 0;

    @media screen and (min-width: 540px) {
      font-size: 15rem;
    }

    @media screen and (min-width: 1080px) {
      font-size: 20rem;
    }
  }

  &--projects {
    background-color: var(--color-dark);
    border-top: 4px double var(--color-accent);
    border-bottom: 4px double var(--color-accent);

    &::before {
      content: "PROJECTS";
      color: var(--color-low-contrast-dark);
    }
  }

  &--skillset {
    background-color: var(--color-light);
    border-top: 4px double var(--color-dark);
    border-bottom: 4px double var(--color-dark);

    &::before {
      content: "SKILLSET";
      color: var(--color-low-contrast-light);
    }
  }

  &--about {
    background-color: var(--color-accent);
    border-top: 4px double var(--color-dark);
    border-bottom: 4px double var(--color-dark);

    &::before {
      content: "ABOUT";
      color: var(--color-low-contrast-accent);
    }
  }

  &__pane {
    height: 70vh;
    width: 90%;
  }
}