.skillset {
    height: 100%;
    display: flex;
    align-items: center;

    &__skills {
        padding: 4rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4rem;
        background-color: var(--color-low-contrast-light);
    }

    &__heading {
        padding: 2rem 2rem 2rem 5rem;
        display: inline-block;
        z-index: 5;
        font-size: 7rem;
        font-weight: bold;
        color: var(--color-accent);
        background-color: var(--color-darkest);
        box-shadow: var(--shadow);
    }
}