:root {
  --color-light: #EEEEEE;
  --color-accent: #E67E22;
  --color-dark: #333333;
  --color-darker: #151515;
  --color-darkest: #000000;
  --color-low-contrast-dark: #22222255;
  --color-low-contrast-accent: #F78F33CC;
  --color-low-contrast-light: #FFFFFFFF;
  --shadow: 0 0 8px 1px #000000aa;
  --shadow-up: 0 0 12px 1px #000000aa;
}