:root {
  --color-light: #eeeeee;
  --color-accent: #e67e22;
  --color-dark: #333333;
  --color-darker: #151515;
  --color-darkest: #000000;
  --color-low-contrast-dark: #22222255;
  --color-low-contrast-accent: #f78f33cc;
  --color-low-contrast-light: #ffffffff;
  --shadow: 0 0 8px 1px #000000aa;
  --shadow-up: 0 0 12px 3px #000000aa;
}
